---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador web",
    company: "AMRtech",
    description:
      "Desarrollo y comercializo aplicaciones web para mi empresa AMRtech.",
    link: "https://amrtech.com.ar",
  },
  {
    date: "Actualmente...",
    title: "Foto패grafo",
    company: "Municipio de Lobos",
    description:
      "Trabajo como fot칩grafo en el 치rea de Prensa y Comunicaci칩n del Municipio de Lobos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
